<div class="navigation-header row">
	<span class="col-25 navigation-option" (click)="goToState('/maps')">Maps</span>
	<span class="col-25 navigation-option" (click)="goToState('/home')">Home</span>
	<span class="col-25 navigation-option" (click)="goToState('/notes')">Notes</span>
	<span class="col-25 navigation-option" (click)="goToState('/inventory')">Inventory</span>
</div>

<div class="content-container">
	<div class="col-50 character-card-list-container">
		<div class="list-character-card" *ngFor="let character of characters">
			<div class="card-content">
				<div class="row">
					<div class="col-80">
						<div class="primary-text">{{character.name}}</div>
						<div class="secondary-text">{{character.description}}</div>
					</div>
					<div class="col-20">
						<img class="character-portrait" src="../../assets/question-mark.svg">
					</div>
				</div>
				<button class="button">Notes</button>
				<button class="button">Whisper</button>	
			</div>
		</div>
	</div>
	
	<div class="col-50 right-container">
		<div class="selected-character-card">
			<div class="card-content">
				<div class="row">
					<div class="col-33">
						<img class="character-portrait" src="../../assets/question-mark.svg">
					</div>
					<div class="col-33">
						<div class="primary-text"> Name </div>
						<div class="secondary-text"> Description </div>
					</div>
					<div class="col-33">
						<div class="primary-text"> Level 0 </div>
						<div class="secondary-text"> Lawful Stupid </div>
					</div>
				</div>
				<div class="row"> 
					<div class="col-50"> 
						Notes Title
						<textarea [(ngModel)]="notes"> </textarea>
						<button>Notes</button>
					</div>
					<div class="col-50"> 
						Whisper Title
						<textarea [(ngModel)]="whispers"> </textarea>
						<button>Whisper</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>