<table class="navigation-header row">
	<tr>
		<th>
			<a [routerLink]="['/maps']"> Maps </a>
		</th>
		<th>
			<a [routerLink]="['/characters']"> Characters </a>
		</th>
		<th>
			<a [routerLink]="['/notes']"> Notes </a>
		</th>
		<th>
			<a [routerLink]="['/inventory']"> Inventory </a>
		</th>
	</tr>
</table>

<table class="row">
	<tr>
		<td>
			<img class="profile-portrait" src="../../assets/rho painting.jpg">
		</td>
		<td>
			<div> Name </div>
			<div> Rhomani "Rho" Basillea </div>
		</td>
		<td>
			<div> Race </div>
			<div> Half-Drow </div>			
		</td>
		<td>
			<div> Class </div>
			<div> Rogue </div>
		</td>
		<td>
			<div> Alignment </div>
			<div> Chaotic Neutral </div>
		</td>
	</tr>	
</table>

<table class="row-50 left-container">
	<table class="row-50 left-container">
		<tr *ngFor="let stat of stats">
			<td>
				{{stat.description}}
			</td>
			<td>
				{{stat.value}}
			</td>
			<td>
				{{stat.modifier}}
			</td>
		</tr>
	</table>
	
	<div class="row-50 right-container">
		<div> Proficiency Bonus </div>
		<div> +2 </div>
		
		<div> Inspiration Points </div>
		<div> 1 </div>	
	</div>

	<div class="row-50 right-container skill-container">
		<div *ngFor="let skill of skills">
			{{skill.description}}
		</div>
	</div>
</table>

<table class="row-50 right-container">
	<table>
		<div> Character Level </div>
		<div> 2 </div>
		
		<div> Total Hit Dice </div>
		<div> 2d6 </div>
		
		<div> Usable Hit Dice </div>
		<div> 2d6 </div>
		
		<div> HP </div>
		<div> 9/11 </div>
		
		<div> Armor Class </div>
		<div> 14 </div>
		
		<div> Initiative </div>
		<div> 12 </div>
	</table>
	<table>
		<tr>
			<td> 
				Spell Defence Check
			</td>
			<td>
				Spell Attack Bonus
			</td>
			<td>
				Spell Primary Attribute
			</td>
		</tr>
		<tr>
			<td> 
				14
			</td>
			<td>
				+4
			</td>
			<td>
				Intelligence
			</td>
		</tr>
	</table>	
	<table>
		<tr>
			<td>
				Weapon
			</td>
			<td>
				Attack Range
			</td>		
			<td> 
				Hit Bonus
			</td>
			<td>
				Attack Bonus
			</td>
			<td>
				Attack Type
			</td>
		</tr>
		<tr>
			<td>
				Shortbow
			</td>
			<td>
				Up to 120ft/Up 360ft Disadvantage
			</td>		
			<td> 
				+5
			</td>
			<td>
				+3
			</td>
			<td>
				Piercing
			</td>
		</tr>
	</table>	
</table>



<!--table>
	<tr *ngFor="let coinType of coins">
		<td>
			{{coin.description}}
		</td>
		<td>
			{{coin.amount}}
		</td>
	</tr>
</table-->



