@import 'variables';
@import 'home';
@import 'characters';

/////////////////////
//app wide styling///
/////////////////////

.navigation-header {
	height: 4em;
	color: #fff !important;
	background: #262626;
	display: flex;
	
	.navigation-option {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		text-align: center;
	}
}

.card {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 0.5em;
	width: calc(100% - 1em)!important;
	.card-content {
		width: calc(100% - 2em);
		height: calc(100% - 1em);
		padding: 1em;
	}
}

.content-container {
	width:100%;
	height: calc(100% - 4em);
}

.row {
	width: 100%;
	display: flex;
}

.col-20 {
	display: inline-block;
	width: 20%;
}

.col-25 {
	display: inline-block;
	width: 25%;
}

.col-33 {
	display: inline-block;
	width: 33%;
}

.col-50 {
	display: inline-block;
	width: 50%;
}

.col-80 {
	display: inline-block;
	width: 80%;
}

.button {
	display: inline-block;
	position: relative;
	width: 120px;
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
	font-size: 0.9em;
	background-color: #fff;
	color: #646464;
}
    




